    // @font-face {
    //     font-family: 'Forte_VR';
    //     src: url('../../fonts/ForteVR.woff2') format('woff2'),
    //         url('../../fonts/ForteVR.woff') format('woff');
    //     font-weight: normal;
    //     font-style: normal;
    //     font-display: swap;
    // }

    // @font-face {
    //     font-family: 'Bertram Std';
    //     src: url('../../fonts/BertramStd.woff2') format('woff2'),
    //         url('../../fonts/BertramStd.woff') format('woff'),
    //         url('../../fonts/BertramStd.woff') format('ttf');
    //     font-weight: normal;
    //     font-style: normal;
    //     font-display: swap;
    // }

    @font-face {
        font-family: 'Forte_VR';
        src: local("Forte_VR"),
            url('../../fonts/ForteVR.woff2') format('woff2'),
            url('../../fonts/ForteVR.woff') format('woff'),
            url('../../fonts/ForteVR.otf') format('otf'),
            url('../../fonts/ForteVR.ttf') format('ttf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Bertram Std';
        src: local("Bertram Std"),
            url('../../fonts/BertramStd.woff2') format('woff2'),
            url('../../fonts/BertramStd.woff') format('woff'),
            url('../../fonts/BertramStd.otf') format('otf'),
            url('../../fonts/BertramStd.ttf') format('ttf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }