    @font-face {
        font-family: 'Forte_VR';
        src: url('../../fonts/ForteVR.woff2') format('woff2'),
            url('../../fonts/ForteVR.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Bertram Std';
        src: url('../../fonts/BertramStd.woff2') format('woff2'),
            url('../../fonts/BertramStd.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }