.empty-wrapper {
    display: flex;
    height: auto;
    min-width: 1440px;
    width: 95%;

}

.empty-menu__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 100px;
    height: 100vh;
    background: #E20AC6;
    //filter: blur(13px);
    z-index: 2;

}

.icon-logo {
    margin-top: 20px;
}


.empty-menu-btn {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;

    span,
    span::after,
    span::before {
        display: block;
        width: 40px;
        height: 2px;
        position: absolute;
        top: 46%;
        margin-top: -1px;
        left: 50%;
        margin-left: -20px;
        background: #FFFFFF;
        transition: .5s ease-in-out;
    }

    span::after,
    span::before {
        content: '';
        transition: .3s ease-in-out;

    }


    span::after {
        transform: translateY(-5px);
    }

    span::before {
        transform: translateY(5px);
    }

}


.menu-btn__active span {
    height: 0;
    transition: .5s ease-in-out;
    top: 20%;

}

.menu-btn__active span::before {
    transform: rotate(45deg);
}

.menu-btn__active span::after {
    transform: rotate(-45deg);
}



.empty-socials {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;

    .socials__icon+.socials__icon {
        margin: 0;
        margin-top: 15px;
    }

}




.empty-body {
    margin-left: 50px;
    padding-top: 15px;
    width: 1290px;
    height: 1024px;
    background: #FFFFFF;

}



.empty-menu-content {
    position: absolute;
    left: -500px;
    top: 280px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    border: 2px solid;

    background: #506381;
    border: 1px solid #E20AC6;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;

    transition: .5s ease-in-out;

    .empty-link {
        color: #ffffff;

        &:hover {
            opacity: 0.8;
            text-decoration: none;
        }
    }


}

.empty-menu-content__active {
    left: 100px;
}


.empty-body {}

.empty-body__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.empty-body__title {
    align-self: flex-start;
    width: 210px;
    //margin: 0 auto;
    font-family: Forte_VR;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 0px;
    color: #506381;
    //padding: 0px 0px 10px 60px;

    .empty-title {
        font-family: Bertram Std;
        font-style: normal;
        font-weight: normal;

        font-size: 35px;
        line-height: 50px;
        color: #E20AC6;
    }
}

.empty-oups {
    font-family: Forte_VR;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: 0.1em;
    color: #495A76;

    span {
        font-size: 48px;
    }
}

.empty-body__content {
    display: flex;
    align-items: center;
    justify-content: center;

    .print-machine {
        margin-top: 20px;
        width: 500px;
    }

}

.empty-body__footer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.empty-footer__title {
    font-family: Forte_VR;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #495A76;
    margin: 40px 0;
}

.palte-item {
    position: relative;
    margin-right: 55px;


}

.plate-text {
    display: block;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;

    letter-spacing: 0.1em;
    position: absolute;
    top: 14%;
    left: 17.5%;

    &:hover {
        opacity: 0.5;
        text-decoration: none;
    }

}