.header {
    display: flex;
    align-items: center;
    max-width: 1920px;
    width: 95%;
    height: 100px;
    margin: 0 auto;
    box-shadow: 1px 5px 10px 5px rgba(20, 20, 20, 0.5);
    background: #F7F7F7;

}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;

}

.header-contacts {
    width: 636px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;


}


.contact {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #949494;
    text-decoration: none;

    .icons {
        margin-right: 5px;
        fill: #949494;

        &:hover {

            fill: #616161;
        }

    }

    &:hover {
        text-decoration: none;
        color: #616161;

    }
}

.header-contacts__btn {
    margin-left: 3%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 10px;
    color: #AE4A84;
    border: 2px solid #AE4A84;
    border-radius: 5px;
    transition: .5s ease-in-out;

    &:hover {
        background: #AE4A84;
        box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
        color: white;
        border-color: #AE4A84;
    }

    &:focus {
        outline: none;
    }
}

.header-socials {
    display: flex;
    align-items: center;
    margin-left: 3%;



}

.icons-box {
    display: flex;
    align-items: center;
}

.socials__icon+.socials__icon {
    margin-left: 20px;
}

.socials__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-facebook {
    fill: #fff;
    background: #3B5998;
    transition: .5s ease-in-out;

    &:hover {
        box-shadow: -1px 2px 30px 5px #3b5898b6;
    }
}





.icon-instagram {
    fill: #fff;
    background: linear-gradient(49.12deg, #8E7F42 6.62%, #FF543E 50.06%, #C837AB 93.5%);
    transition: .5s ease-in-out;

    &:hover {
        box-shadow: -1px 2px 30px 5px #ff543e82;
    }
}

.icon-whatsup {
    fill: #FDFDFD;
    background: #25D366;
    transition: .5s ease-in-out;

    &:hover {
        box-shadow: -1px 2px 30px 5px #25d36598;
    }
}




.icon-telegram {
    fill: rgb(152, 207, 248);
    background: white;
    transition: .5s ease-in-out;

    &:hover {
        box-shadow: -1px 2px 30px 5px rgb(152, 207, 248);
    }
}



.header-search {
    position: relative;
    width: 200px;
    height: 40px;
    margin-left: 4%;

}


.input-search {
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: #FFFFFF;

    border-radius: 50%;
    background-image: url(./../img/svg/search.svg);
    background-repeat: no-repeat;
    background-position: center, center;
    transition: .5s ease-in-out;
    margin-right: 30px;

    &:hover {
        width: 188px;
        height: 40px;
        background-position: right, center;
        padding-right: 10px;
        border-radius: 5px;
        margin-right: 40px;

    }
}