@media screen and (max-width: 1720px) {

    header,
    main,
    nav,
    section,
    footer {
        min-width: 1440px;
    }

    .container {
        min-width: 1200px;
        padding-top: 5px;
    }

    .header-contacts {
        order: 2;
        //justify-content: center;
    }

    .header-contacts__btn {
        order: 1;
    }

    .slider-title {
        top: -1%;
    }
}

@media screen and (max-width: 1280px) {

    header,
    main,
    nav,
    section,
    footer {
        min-width: 1280px;
    }

    .container {
        min-width: 1024px;
    }

    .slider-title {
        font-size: 50px;
    }

    .slider-title .span-title {
        font-size: 50px;
    }

    .slider-image {


        img {
            width: 90%;
        }
    }
}

@media screen and (max-width: 1200px) {

    header,
    main,
    nav,
    section,
    footer {
        min-width: 991px;
    }

    .container {
        min-width: 768px;
    }

    .slider-title {
        font-size: 40px;

        span {
            font-size: 50px;
        }
    }

    .slider-image {
        top: 19%;
        left: 15%;
        max-width: 76%;

    }

    .box__fourth--left img {
        width: 92%;
    }

    .box__fourth--right {
        margin-right: 10%;
    }

    .box__fourth--wrapp {
        margin-left: 13%;
    }

    .top-menu>ul li a {
        padding: 5px 5px;
    }

    article {
        width: 240px;
    }

    .about-info__block--title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .about-info__block--text {
        padding: 0 20px;
        font-size: 14px;
    }

    .services-description__tile {
        font-size: 20px;
    }

    .services-description__text {
        font-size: 18px;
    }

    .services-btn {
        font-size: 15px;
    }

    .services-check__left {
        margin-right: 30px;
    }

    .statistic-box__right {
        width: 805px;
    }
}

@media screen and (max-width: 1024px) {
    .swiper-container {
        height: 300px;
        width: 960px;
    }

    .slider-title .span-title {
        font-size: 45px;
    }

    .slider-subtitle {
        left: 15%;
        bottom: 5%;
        font-size: 50px;
        line-height: 45px;
    }

    .slider-title span {
        font-size: 35px;
    }

    .slider-fourth__btn-box .fouth-slider-title {
        font-size: 30px;
        line-height: 44px;
        margin-right: 10px;
    }


    .box__fourth--wrapp {
        margin-top: 20px;
        justify-content: center;
    }

    .slide__wrapp--right__title {
        font-size: 16px;
        line-height: 5px;
    }

    .swiper-slide__box__fourth {
        justify-content: flex-start;
        margin-left: 6%;
    }

    .slider-fourth__btn-box {
        margin-top: 10px;
    }


    .box__fourth--left img {
        width: 70%;
    }


    .slider-fourth__btn-box .fouth-slider-title {
        font-size: 22px;
    }

    .services-check__left {
        margin-right: 10px;
    }

    .checkbox__title {

        font-size: 20px;
    }

    .services-description__text {
        width: 440px;
    }

    .slide__wrapp img {
        width: 75%;
    }

    .slider-fourth__btn-box .slider__btn {
        padding: 10px 10px;
        font-size: 14px;
    }

    .top-menu>ul li a {
        font-size: 12px;
        padding: 5px 5px;
    }

    .slider-title__second {
        font-size: 50px;
        line-height: 62px;
    }

    .slider-subtitle__second.schema {
        font-size: 27px;
    }

    .slider-subtitle__second {
        font-size: 33px;
    }

    .cards__wrapp {
        padding-left: 100px;
    }

    .statistic-box__left {
        margin-right: 20px;
    }

    .slider-text {
        width: 600px;
    }

    .footer-container {
        min-width: 968px;
    }

    .footer-link a {
        font-size: 15px;
    }

}

@media screen and (max-width: 991px) {

    header,
    main,
    nav,
    section,
    footer {
        min-width: 768px;
    }

    .container {
        min-width: 576px;
    }

    .header-search {
        display: none;
    }

    .top-menu>ul li a {
        padding: 5px 5px;
        font-size: 11px;
    }

    .icon-polygon {
        display: none;
    }

    .swiper-container {
        height: 250px;
        width: 760px;
    }

    .slider-image {
        top: 20%;
        left: 15%;
        max-width: 70%;
    }


    .slider-subtitle {
        left: 13%;
        bottom: 10%;
        font-size: 40px;
        line-height: 45px;
    }

    .slider-title {
        top: 0%;
        left: 12%;
        font-size: 30px;
    }

    .slider-title .span-title {
        font-size: 30px;
    }

    .slider-title__second {
        font-size: 27px;
    }


    .schema {
        font-size: 21px !important;
    }

    .slider-subtitle__second {
        font-size: 25px;
        line-height: 30px;
    }

    .slide__wrapp img {
        width: 85%;
    }

    .box__fourth--wrapp {
        margin-top: 5px;
    }

    .slider-title__fourth {
        position: static;
        margin-top: 0px;
        margin-left: 13%;
    }

    .box__fourth--left img {
        width: 70%;
    }

    .slide__wrapp--right__title {
        font-size: 16px;
        line-height: 18px;
    }

    .slide__wrapp--right__sutitle {
        margin-top: 14px;
        font-size: 15px;
    }

    .slider-fourth__btn-box .fouth-slider-title {
        font-size: 15px;
    }

    .services-description__tile {
        font-size: 18px;
        padding-left: 5px;
    }

    .services-description__text {
        font-size: 16px;
        width: 420px;
        padding-left: 5px;
    }

    .services-btn {
        padding: 10px 10px;
    }

    .checkbox__title {
        font-size: 18px;
    }

    .statistic-wrapp {
        max-width: 768px;
    }

    .statistic-box__left {
        margin-right: 15px;
    }

    .statistic-box__right {
        width: 645px;
    }

    .slider-text {

        width: 400px;
    }

    .highlight-btn {
        padding: 8px 8px;
    }

    .highlight-title {
        width: 400px;
    }

    .services-description {
        width: 350px;
    }

    .services-description__tile {
        font-size: 21px;
        padding-left: 5px;
    }

    .services-description__text {
        font-size: 15px;
        width: 360px;
        padding-left: 5px;
        line-height: 20px;
    }

    .card-image {
        margin-top: 6px;
        width: 150px;
        height: 110px;
    }

    .cards__wrapp {
        padding-left: 55px;
    }

    article {
        width: 200px;
        height: 260px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-subtitle {
        width: 180px;
    }

    .bottom-slider {
        overflow: hidden;
    }

}

@media screen and (max-width: 768px) {

    header,
    main,
    nav,
    section,
    footer {
        min-width: 576px;
    }

    .container {
        min-width: 480px;
    }

    .top-menu,
    .menu-container>ul li a {
        display: none;
    }

    .m-menu {
        position: relative;
        display: block;
        right: 0px;
        top: 15px;
        width: 731px;
    }

    .menu-btn {
        display: block;
        border-radius: 0%;
        background: #506381;
        width: 95%;
        margin: 0 auto;

    }

    .slider-title {
        font-size: 30px;
    }

    .slider-title .span-title {
        font-size: 33px;
    }

    .slider-subtitle {
        bottom: 6%;
        font-size: 40px;
    }

    .swiper-container {
        height: 245px;
        width: 726px;
    }

    .slider-title__second {
        font-size: 30px;
        line-height: 30px;
    }

    .schema {
        font-size: 19px !important;
    }

    .slider-subtitle__second {
        font-size: 24px;
    }

    .slide__wrapp--left {
        padding: 13px;
    }

    .slider-title {
        font-size: 30px;
    }

    .slider-title span {
        font-size: 30px;

    }

    .swiper-slide__box__fourth {
        margin-left: 0%;
    }

    .slide__wrapp--right img {
        width: 75%;
    }

    .swiper-slide__box {
        margin-top: 20px;
        margin-left: 35px;
    }

    .bottom-slider {
        overflow: hidden;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: 32px;
    }

    .slider-fourth__btn-box .fouth-slider-title {
        font-weight: 600;
        line-height: 20px;
    }

    article {
        width: 175px;
        height: 275px;
    }

    .cards__wrapp {
        margin-top: 30px;
    }

    .cards__wrapp {
        padding-top: 15px;
        font-size: 20px;
        line-height: 0px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-image {
        margin-top: 0px;
        width: 180px;
        height: auto;
    }

    .card-subtitle {
        margin-top: 0px;
        width: 170px;
    }

    .card-img {
        width: 90%;
    }

    .highlight-btn {
        margin-right: 5%;
        padding: 8px 8px;
    }

    .services-description__tile {
        font-size: 17px;
    }

    .services-description__text {
        font-size: 15px;
        width: 340px;

    }

    .services-check {
        display: none;
    }

    .box__right--title {

        font-size: 25px;
        line-height: 10px;
        padding-top: 15px;
        margin-bottom: 20px;
    }

    .statistic-info__item {
        margin-bottom: 15px;
    }

    .statistic-box__right {
        height: 175px;
    }

    .statistic-info__item .statistic-image {
        margin-right: 15px;
    }

    .statistic-box__left {
        width: 225px;
        height: 175px;
    }

    .statistic-box__left .statistic-image {
        height: 160px;
        top: 6%;
    }

    .slider-text {
        width: 400px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contacts,
    .information,
    .popular {
        margin: 0 auto;
    }

    .contacts-title {
        text-align: center;
        font-size: 18px;
        padding-bottom: 0px;
        color: white;
        margin-top: 20px;
        padding-bottom: 15px;
    }


}


@media screen and (max-width: 736px) {

    header,
    main,
    nav,
    section,
    footer {
        min-width: 480px;
        width: 95%;
    }


    .container {
        min-width: 380px;
    }

    .header-logo img {
        width: 75%;
    }

    .header-contacts__btn {
        padding: 5px 5px;
        font-size: 10px;
    }

    .header-contacts {
        padding: 5px 0;
    }

    .contact {
        font-size: 11px;
    }

    .icon {
        width: 10px;
        height: 10px;
    }

    .socials__icon {
        width: 20px;
        height: 20px;
    }

    .m-menu {
        width: 700px;
    }

    .section-slider {
        // display: none;
    }

    .swiper-container {
        height: 210px;
        width: 548px;
    }

    .slider-title {
        top: -3%;
        left: 6%;
        font-size: 20px;
    }

    .slider-image {
        top: 18%;
        left: 13%;
        max-width: 75%;
    }

    .slider-subtitle {
        bottom: 6%;
        left: 22%;
        font-size: 30px;
    }

    .slide__wrapp--left {
        width: 410px;
        margin-left: 9%;
    }

    .slide__wrapp--right img {
        width: 80%;
    }

    .swiper-slide__box {
        margin-top: 20px;
        margin-left: 0px;
    }

    .slider-title__second {
        font-size: 18px;
        line-height: 20px;
    }

    .schema {
        font-size: 9px !important;
    }

    .slider-subtitle__second {
        font-size: 12px;
    }

    .slider-title .span-title {
        font-size: 30px;
    }

    .bottom-slider {
        overflow: hidden;
    }

    .slider-title span {
        font-size: 20px;
    }

    .swiper-button-next {
        right: 0;
        top: 50%;
    }

    .swiper-button-prev {
        top: 50%;
        left: 0;
    }

    .slide__wrapp--right__title {
        font-size: 12px;
        line-height: 18px;
    }

    .slide__wrapp--right__sutitle {
        margin-top: 5px;
        font-size: 10px;
    }

    .slider-fourth__btn-box .fouth-slider-title {
        font-size: 16px;
        line-height: 1.5em;
    }

    .slider-fourth__btn-box .slider__btn {
        font-weight: 500;
        font-size: 12px;
        line-height: 5px;
    }

    .slide__wrapp img {
        width: 50%;
    }

    .swiper-slide__box__fourth {
        padding: 10px;
        margin-top: -13px;
    }

    .box__fourth--left img {
        width: 85%;
    }

    .box__fourth--wrapp {
        margin-left: 10%;
    }

}

@media screen and (max-width: 667px) {
    .m-menu {
        width: 632px;
    }

    .cards__wrapp {
        padding-left: 10px;
    }

    .statistic-box__left {
        width: 200px;
        height: 155px;
    }

    .statistic-box__right {
        height: 155px;
    }


    .statistic-box__left .statistic-image {
        height: 126px;
        top: 15%;
    }

    .statistic-info__text {
        font-size: 12px;
        line-height: 12px;
    }

    .slider-text {
        width: 305px;
    }

    .slider-name {
        margin-top: 10px;
        font-size: 20px;
        line-height: 20px;

    }

    .bottom-slider {
        overflow: hidden;
    }
}


@media screen and (max-width: 576px) {

    header,
    main,
    nav,
    section,
    footer {
        min-width: 480px;
        width: 95%;

    }

    .container {
        min-width: 380px;
    }

    .header-logo img {
        width: 75%;
    }

    .header-contacts__btn {
        padding: 5px 5px;
        font-size: 10px;
    }

    .header-contacts {
        padding: 5px 0;
    }

    .contact {
        font-size: 11px;
    }

    .icon {
        width: 10px;
        height: 10px;
    }

    .socials__icon {
        width: 20px;
        height: 20px;
    }

    .m-menu {
        width: 576px;
    }

    .slider {
        display: none;
    }

    .about-qr {
        display: flex;
    }

    article {
        width: 150px;
        height: 200px;
        margin-right: 5px;
    }


    .cards__wrapp {
        padding-left: 50px;
    }

    .card-title {
        font-size: 15px;
        padding-top: 10px;

    }

    .card-image {
        width: 125px;
    }

    .card-subtitle {
        font-size: 10px;
        width: 125px;

    }

    .services-wrapp {
        max-width: 576px;
        height: 165px;
    }

    .products {
        margin: 0;
    }

    .about {
        margin: 0;
    }

    .about-wrapp {
        grid-template-columns: repeat(2, 1fr);
    }

    .statistic-box__left {
        display: none;
        height: 125px;

    }

    .statistic-box__left .statistic-image {
        height: 100px;
        top: 15%;
    }

    .about-qr__box--left {
        width: 115px;
    }

    .about-qr__box--right {
        margin-left: 20px;
    }

    .about-qr__box--right__sutitle {
        margin-top: 5px;
        width: 230px;
        height: 50px;
        font-size: 12px;
        line-height: 20px;
    }

    .btn-box__btn {
        padding: 5px 10px;
    }

    .btn-box-title {
        font-size: 16px;
    }

    .bottom-slider {
        overflow: hidden;
    }

    .slider-box {
        width: 150px;
    }

    .slider-box img {
        align-self: baseline;
    }

}

@media screen and (max-width: 568px) {

    header,
    main,
    nav,
    section,
    footer {
        min-width: 480px;
        width: 95%;

    }


    .container {
        min-width: 380px;
    }

    .header-contacts {
        flex-direction: column;
    }

    .contact {
        font-size: 15px;
        padding-bottom: 15px;
    }

    h3.section-title {
        margin-top: 0;
        margin-bottom: 0;
    }

    .card-title {
        font-size: 13px;
        line-height: 14px;
    }

    .about-container {
        flex-direction: column;
    }

    .about-info__block--title {
        margin-left: 25%;
    }

    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal>.swiper-pagination-bullets {
        width: 50%;
        padding-top: 30px;
    }

    .m-menu {
        width: 470px;
    }

    .card-image {
        width: 85px;
    }

    article {
        width: 110px;
        height: 110px;
        margin-right: 5px;
    }

    .card-title {
        font-size: 10px;
        line-height: 0px;
    }

    .card-subtitle {
        display: none;
    }


    .services-description__tile {
        text-align: center;
        width: 480px;
        font-size: 17px;

    }

    .services-btn {
        padding: 5px 5px;
        margin-right: 27px;
        font-size: 12px
    }

    .services-description__text {
        padding-left: 15px;
    }

    .about-qr__box--left {
        width: 100px;
    }

    .swiper-wrapper {}

    .slider-box {
        flex-direction: column;
        align-items: baseline;
    }

    .slider-box img {
        align-self: baseline;
        margin-left: 75%;
        margin-bottom: 20px;
    }

    .slider-name {
        margin-top: 25px;
        font-size: 20px;
        line-height: 25px;
    }

    .slider-content {
        height: 500px;
    }

    .slider-text {
        width: 330px;
        font-size: 14px;
        line-height: 17px;
    }

    .header-contacts__btn {
        order: 0;
    }


    .icons-box {
        width: 80%;

    }

    .header-socials {
        justify-content: space-between;
        width: 100%;
        margin-top: 5px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding-top: 15px;
        height: 100%;
    }

    .card-title {
        font-size: 10px;
        line-height: 10px;
    }

    .card-image {
        width: 60px;
    }

    .about-wrapp {
        grid-template-columns: repeat(1, 1fr);
    }

    h3.section-title {
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 15px;
        line-height: 15px;
    }

    .printing-about {
        padding-left: 50px;
    }

    .print-nav ul li a {
        font-size: 10px;
    }

    .print-nav ul li {
        list-style: none;
        width: 210px;
        height: 37px;
    }

    .tabs-triggers__item {
        text-align: center;
        padding: 10px 10px;
        font-size: 10px;
    }

    .tabs-content__item {
        width: 270px;
        padding: 10px;
    }

    .card-sample article .card-title {
        font-size: 6px;
    }

    .table-price {
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }

    .empty-footer__title {
        text-align: left;
        font-size: 25px;
        line-height: 34px;
    }
}