.partners-images__wrapp {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.partner-item {
    margin-top: 10px;
}