.wrapper {
  max-width: 100%;
  margin: 0 auto;
}


.tabs-triggers {
  display: flex;
}

.tabs-triggers__item {
  text-align: center;
  padding: 10px 20px;

  &:hover {
    text-decoration: none;
    color: #3B5998;
  }

}

.tabs-triggers__item--active {
  background-color: #eee;
}

.tabs-content {}

.tabs-content__item {
  width: 1400px;
  height: auto;
  padding: 20px;
  display: none;
  background-color: #eee;
}

.tabs-content__item--active {
  display: block;
}

.card-sample {
  display: flex;
  flex-wrap: wrap;

}

.card-sample article {
  background-color: white;
  flex-basis: 17%;

  .card-title {
    font-size: 18px;

  }

  .card-subtitle {
    margin-top: 20px;
    padding-bottom: 15px;
  }

  .card-price {
    font-family: Montserrat;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #3B5998;


  }
}




.desicion {
  font-family: Montserrat;
  font-size: 14px;
  margin-bottom: 20px;
}

.tab-list {

  font-family: Montserrat;
  font-size: 14px;
  padding: 0 35px;
  margin-bottom: 15px;
}